@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--Grey-900);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 35rem;
    padding: 10px;
    background-color: var(--Grey-800);
    border-radius: 10px;
}

h1{
    font-size: x-large;
    margin: 15px 0px 4px 0px;
    color: var(--White);
}

p{
    margin: 0px;
    font-size: 15px;
    color: var(--White);
    font-weight: bold;
}

img{
    height: 100px;
    border-radius: 50%;
}

.firstP{
    margin: 5px 0px 15px 0px;
    color: var(--Green);
}

.secondP{
    margin: 7px 0px 20px 0px;
}

.g{
    display: flex;
    background-color: var(--Grey-700);
    height: 40px;
    width: 270px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px 0px;
    color: var(--White);
    font-weight: bold;
}

.fr, .l, .t, .i{
    display: flex;
    background-color: var(--Grey-700);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 270px;
    margin-bottom: 10px;
    color: var(--White);
    font-weight: bold;
}

.g:hover, .fr:hover, .l:hover, .t:hover, .i:hover{
    background-color: var(--Green);
    cursor: pointer;
    color: var(--Grey-900);
    font-weight: bold;
}

@media (max-width: 375px){
    body{
        background-color: var(--Grey-900);
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 310px;
        height: 33rem;
        padding: 10px;
        background-color: var(--Grey-800);
        border-radius: 10px;
    }
    
    h1{
        font-size: x-large;
        margin: 15px 0px 4px 0px;
        color: var(--White);
    }
    
    p{
        margin: 0px;
        font-size: 15px;
        color: var(--White);
        font-weight: bold;
    }
    
    img{
        height: 100px;
        border-radius: 50%;
    }
    
    .firstP{
        margin: 5px 0px 15px 0px;
        color: var(--Green);
    }
    
    .secondP{
        margin: 7px 0px 20px 0px;
    }
    
    .g{
        display: flex;
        background-color: var(--Grey-700);
        height: 40px;
        width: 270px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 5px 0px 10px 0px;
        color: var(--White);
        font-weight: bold;
    }
    
    .fr, .l, .t, .i{
        display: flex;
        background-color: var(--Grey-700);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 270px;
        margin-bottom: 10px;
        color: var(--White);
        font-weight: bold;
    }
    
    .g:hover, .fr:hover, .l:hover, .t:hover, .i:hover{
        background-color: var(--Green);
        cursor: pointer;
        color: var(--Grey-900);
        font-weight: bold;
    }
}